.modal-button-submit {
	color: var(--prime-white-color);
	background-color: var(--link-logo-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-style: none;
	padding: 10px 55px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	align-self: center;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:focus,
	&:hover {
		background-color: #188ce8;
	}
}
